name: altive_lints
description: Provides `all_lint_rules.yaml` that activates all rules and `altive_lints.yaml` with Altive recommended rule selection.
version: 1.1.0
homepage: https://github.com/altive/altive_lints

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:

dev_dependencies:
