name: code check

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  analyze:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true

      - name: Format
        run: dart format --set-exit-if-changed packages/altive_lints/lib

      - name: Analyze
        run: flutter analyze

      - name: Test
        run: dart test packages/altive_lints --fail-fast
